@keyframes pop {
    0% {
        transform: scale(1);
    }
    20%{
        transform: scale(1.5);
    }
    50% {
        transform: translate(100px);
        background-color: tomato;
    }
    100%{
        transition: translate(0);
        background-color: gold;
    }
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 150px;
    height: 150px;
    background-color: gold;
    font-size: 1.3rem;
    
}
.animation-pop {
    animation: pop 6s linear 1s infinite;
}

.animate__fadeInUpBig{
    animation: fadeInUpBig 5s line infinite;
}