body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 150px;
    height: 150px;
    background-color: gold;
    font-size: 1.3rem;
    transition: transform 5s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 2s;
}
.box div {
    margin: 10px 10px;
    height: 150px;

}
.box:hover {
    /* transform:rotate(45deg);
    transform: scale(2);
    transform: skew(-15deg); */
    /* transform: translate(20px,30px); */
    /* transform: perspective(200px) translateZ(-50px); */
    transform: perspective(200px) rotateY(-40deg) ;
    background-color: aqua;
}