html {
  font-size: 62.5%;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }

  100% {
    transform: rotate(-360deg) translateX(100px) rotate(360deg);
  }
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: gold;
  border-radius: 50%;
  font-size: 2rem;
}
.box1 {
    transform: translateX(100px);
}
.moving-box {
  transform: translateX(100px);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 0rem;
    height: 5rem;
    gap: 2rem;
    font-size: 1rem;
    margin-top: 35rem;
}
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  height: 5rem;
  font-size: 2rem;
  color: white;
  font-weight: 300;
}
.buttons button:nth-child(1) {
  background-color: green;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttons button:nth-child(2) {
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.animation-circle {
  animation: circle 6s linear 0.5s infinite;
}
